@tailwind base;
@tailwind components;

.btn {
  @apply px-5 py-2.5 font-medium rounded-lg text-sm disabled:opacity-75 disabled:cursor-not-allowed;
}
.btn-primary {
  @apply bg-emerald-400 hover:bg-emerald-500 disabled:hover:bg-emerald-400;
}
nav li > a.active {
  @apply bg-emerald-400 rounded hover:bg-emerald-400 md:bg-transparent md:hover:bg-transparent md:text-emerald-500
}

@tailwind utilities;

.carousel {
  animation: carousel 12s ease infinite;
}
.carousel-color {
  animation: carousel-color 12s ease infinite;
}

@keyframes carousel {
  33.33% {
    transform: translateX(0%);
  }
  66.66% {
    transform: translateX(-33.33%);
  }
  100% {
    transform: translateX(-66.66%);
  }
}
@keyframes carousel-color {
  33.33% {
    fill: #34d399;
  }
  66.66% {
    fill: #fb923c;
  }
  100% {
    fill: #60a5fa;
  }
}